h1 {
    text-align: center;
    margin: 30px;
    color: blue;
}
.container {
    text-align: center;
    margin: 40px;
}
.paragraph {
    font-size: medium;
}
#posfeedback1, #posfeedback2 {
    color: green;
    display: none;
}
#negfeedback1, #negfeedback2 {
    color: red;
    display: none;
}