h1 {
    text-align: center;
    margin: 30px;
    color: blue;
}
.container {
    text-align: center;
    margin: 40px;
}
.paragraph {
    text-align: center;
    font-size: large;
}
.img-caption {
    color: grey;
    font-size: small;
}
#posfeedback1, #posfeedback2 {
    color: green;
    display: none;
}
#negfeedback1, #negfeedback2 {
    color: red;
    display: none;
}
#solbtn1, #solbtn2 {
    display: none;
}
 li  {
    padding: 20px;
}
footer {
    text-align: center;
    color: grey;
    font-size: small;
}